<!DOCTYPE html>
<!--[if IE 8]> <html lang="es" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="es" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@ViewBag.Title - C.E.N.T. 11</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/plugins.min.css" rel="stylesheet" />
    <link href="~/Content/metronic/css/metronic.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")


    <meta name="description" content="Sistema Cent11" />
</head>
<body>
    <div class="page-header">
        <div class="page-header-top">
            <div class="container-fluid">
                <div class="page-logo">
                    <a class="navbar-brand" href="/" title="CENT N° 11 - Sistema de Administración Académica">
                        <img src="../../Content/img/LogoCENT_60x180_Transparente.png" alt="" class="pull-left" />
                        <h2 class="pull-right hidden-sm hidden-xs">Sistema de Administración Académica</h2>
                    </a>
                </div>
                <!-- BEGIN RESPONSIVE MENU TOGGLER -->
                <a href="javascript:;" class="menu-toggler"></a>
                <!-- END RESPONSIVE MENU TOGGLER -->
                <div class="top-menu">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        <!-- END HEADER TOP -->
        <!-- BEGIN HEADER MENU -->
        <div class="page-header-menu">
            <div class="container-fluid">
                <div class="hor-menu ">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="~/Personas">Personas</a></li>
                        <li><a href="~/Cursos">Parciales</a></li>
                        <li><a href="~/ActaExamen">Finales</a></li>
@*                        <li><a href="~/Carreras">Carreras</a></li>*@
@*                        <li><a href="~/Materias">Materias</a></li>*@
@*                        <li><a href="#">Estadisticas</a></li>*@
@*                        <li><a href="#">Configuracion</a></li>*@
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a href="~/Admin/Usuarios">Usuarios</a></li>
                            <li><a href="~/Admin/Roles">Roles</a></li>
                        }
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <!-- BEGIN PAGE CONTAINER -->
    <div class="page-container">

        @RenderSection("navegacionContextual", required: false)

        <!-- Page Content -->
        <div class="page-content">

            <div class="container-fluid">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - C.E.N.T. 11</p>
                </footer>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- /#page-content-wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/plugins.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="~/Content/metronic/js/metronic_scripts.min.js"></script>

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core components
            Layout.init(); // init current layout
            //Demo.init(); // init demo features
        });
    </script>
</body>

</html>
