<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - C.E.N.T. 11</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CENT N° 11 - Sistema de Administración Académica", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>           
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul id="sidebar" class="nav nav-pills nav-stacked" style="max-width: 200px;">
                <li class="btn-default"><a href="#"><span class="glyphicon glyphicon-home"></span>  Inicio </a></li>
                <li><a href="~/Personas/Index"><span class="glyphicon glyphicon-user"></span>  Personas</a></li>
                <li><a href="~/Cursos/Index"><span class="glyphicon glyphicon-list-alt"></span>  Cursos</a></li>
                <li><a href="~/ActaExamen/Index"><span class="glyphicon glyphicon-list-alt"></span>  Actas</a></li>
                <li><a href="~/Carreras/Index"><span class="glyphicon glyphicon-send"></span>  Carreras</a></li>
                <li><a href="~/Meterias/Index"><span class="glyphicon glyphicon-book"></span>  Materias</a></li>
                <li><a href=""><span class="glyphicon glyphicon-stats"></span>  Estadisticas</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span>  Configuración</a></li>
                @if (User.IsInRole("Administrador"))
                {
                    <li><a href="~/Admin/Usuarios">Usuarios</a></li>
                    <li><a href="~/Admin/Roles">Roles</a></li>
                }
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <!--
            <div class="navegacion-contextual">
                
            </div>
                -->
            <nav class="navbar navbar-default navbar-lower nav-secundaria" role="navigation">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse collapse-buttons">
                        @RenderSection("navegacionContextual", required: false)
                    </div>
                </div>
            </nav>
            <div class="container body-content">
                @RenderBody()
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - C.E.N.T. 11</p>
                </footer>
            </div>
        </div>
    </div>




    <!-- /#page-content-wrapper -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
