@model IEnumerable<ColegioTerciario.DAL.Models.Ciclo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_ANIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_MATRICULA_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_MATRICULA_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_SEMESTRE_1_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_SEMESTRE_1_FIN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_SEMESTRE_2_INICIO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CICLO_SEMESTRE_2_FIN)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_ANIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_MATRICULA_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_MATRICULA_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_SEMESTRE_1_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_SEMESTRE_1_FIN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_SEMESTRE_2_INICIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CICLO_SEMESTRE_2_FIN)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
