@model IEnumerable<ColegioTerciario.Models.UserViewModel>

@{
    ViewBag.Title = "View";
}

@section navegacionContextual  {
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Nuevo Usuario", "Create")</li>
    </ul>

}

@if (ViewBag.error != null)
{
    @Html.Partial("Error", null, new ViewDataDictionary { {"error", ViewBag.error} })
}

<table class="table">
    <thead>
        <tr>
            <th>Roles</th>
            <th>Email</th>
            <th>Persona</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.RoleName</td>
                <td>@item.Email</td>
                <td>@item.Persona</td>
                <td>@Html.ActionLink("Editar", "edit", new {id = @item.Id})</td>
            </tr>
        }
    </tbody>
</table>
