@model PagedList.IPagedList<ColegioTerciario.DAL.Models.Materia>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Materias", FormMethod.Get))
{
    <p>
        Filtro  @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filtrar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("NOMBRE", "Index", new { sortOrder = ViewBag.NombreSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("NOMBRE CORTO", "Index", new { sortOrder = ViewBag.NombreCortoSort, currentFilter = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("AÑO", "Index", new { sortOrder = ViewBag.AnioSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("DURACION", "Index", new { sortOrder = ViewBag.DuracionSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("HORAS CATEDRA", "Index", new { sortOrder = ViewBag.HorasCatedraSort, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA_NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA_NOMBRE_CORTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA_ANIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA_DURACION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MATERIA_HORAS_CATEDRA)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
<div>
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>