@model ColegioTerciario.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    HtmlHelper.ClientValidationEnabled = false;
}

<div class="form-title">
    <span class="form-title">Se olvidó la contraseña?</span>
    <span class="form-subtitle"> Ingrese su E-Mail</span>
</div>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "login-form", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "alert alert-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control form-control-solid placeholder-no-fix", @placeholder = "E-Mail" })
    </div>
    <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-block uppercase" value="Vínculo de correo electrónico" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
