@using ColegioTerciario.Models
@model LoginViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Iniciar sesión";
    HtmlHelper.ClientValidationEnabled = false;
}

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form", novalidate = "novalidate" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "")
    @*
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "alert alert-danger" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "alert alert-danger" })
    *@
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        
        <div class="fg-line">
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control", @placeholder = "Usuario"})
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-male"></i></span>
        
        <div class="fg-line">
            @Html.PasswordFor(m => m.Password, new {@class = "form-control", @placeholder = "Contraseña"})
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="checkbox">
        <label>
            <input type="checkbox" value="">
            <i class="input-helper"></i>
            Recordarme
        </label>
    </div>
    
    <a id="LoginSubmit" href="" class="btn btn-login btn-danger btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></a>

    <div class="form-actions">
        
        <div class="pull-right forget-password-block">
            <a href="/Account/ForgotPassword" id="forget-password" class="forget-password">Se olvido su contraseña?</a>
        </div>
    </div>

    @* Habilite esta opción después de habilitar la confirmación de la cuenta para la función de restablecimiento de contraseña *@
    @*    <p>
            @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
        </p>
    *@

}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
            $('#LoginSubmit').on('click', function(e) {
                e.preventDefault();
                $(this).parent('form').submit();
            });
    </script>
}
