@model ColegioTerciario.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Restablecer contraseña";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <p class="text">Restablezca la contraseña.</p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Code)
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
        <div class="fg-line">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Correo Electronico" })
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Contraseña" })
        </div>
    </div>
    <div class="input-group m-b-20">
        <span class="input-group-addon"><i class="zmdi zmdi-account"></i></span>
        <div class="fg-line">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Repetir Contraseña" })
        </div>
    </div>

    <a id="ResetPasswordSubmit" href="" class="btn btn-login btn-danger btn-float waves-effect waves-circle waves-float"><i class="zmdi zmdi-arrow-forward"></i></a>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $('#ResetPasswordSubmit').on('click', function(e) {
            e.preventDefault();
            $(this).parent('form').submit();
        });
    </script>
}
