@model IEnumerable<ColegioTerciario.DAL.Models.Materia_x_Curso>

@{
    ViewBag.Title = "editarCurso";
}

<h2>Materias del curso</h2>
<h3>Ciclo @ViewBag.CICLO</h3>
<h4>Curso @ViewBag.NOMBRE</h4>


<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#agregarAlumnosModal">
    Agregar alumnos al curso
</button>


<table class="table">
    <thead>
        <tr>
            <th>Materia</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
    <tr>
        <td>@item.MATERIA_X_CURSO_MATERIA.MATERIA_NOMBRE</td>
        <td>@Html.ActionLink("Editar","Edit",new{id=item.ID})</td>
    </tr>
}
    </tbody>
</table>

<div class="modal fade" id="agregarAlumnosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar Alumnos</h4>
            </div>
            <div class="modal-body">
                <table class="table data-table table-bordered table-read-status">
                    <thead>
                        <tr>
                            <th style="display: none;">ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td colspan="6" class="dataTables_empty">
                                Loading data from server

                            </td>

                        </tr>

                    </tbody>

                </table>
                <div class="row">
                    <div class="col-md-12 listadoAlumnosParaAgregar">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("agregarAlumnosACurso", "Cursos",FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("Ciclo", (string)ViewBag.CICLO)
                    @Html.Hidden("Nombre", (string)ViewBag.NOMBRE)
                    
                    <ul id="alumnosSeleccionados"></ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input id="AgregarAlumnos" type="submit" class="btn btn-primary" value="Guardar" />
                }

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


@section scripts {

    <script type="text/javascript">
        var alumnos = [];



        $.extend(true, $.fn.dataTable.defaults, {
            "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-4'i><'col-xs-8'p>>",
        });

        $(document).on('click', '.agregar-persona-a-curso', function () {
            $(this).css('pointer-events', 'none').css('color', 'black');
            alumnos.push($(this).data('id'));
            if (alumnos.length > 1)
                $('#AgregarAlumnos').val("Agregar " + alumnos.length + " alumnos");
            else
                $('#AgregarAlumnos').val("Agregar " + alumnos.length + " alumno");

            $('.listadoAlumnosParaAgregar').append($(this).data('nombre') + " | ");
            
            $('form').append('<input type="hidden" name="alumnos" value="' + $(this).data('id') + '"/>');
        });
        var $dataTable = $('.data-table').dataTable({
            "aaSorting": [[1, "desc"]], // default sort to Name
            "bServerSide": true,
            "sAjaxSource": "/Personas/indexJSON",
            "iDisplayLength": 4,
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    'mData': null,
                    'mRender': function (data, type, full) {
                        return '<td style="display:none;">' + data[0] + '</td>';
                    },
                    'visible': false
                },
                { "aTargets": [1], "name": "Nombre" },
                { "aTargets": [2], "name": "Apellido" },
                { "aTargets": [3], "name": "DNI" },
                {
                    "aTargets": [4],
                    "mData": null,
                    "mRender": function (data, type, full) {
                        var id = data[0];
                        return '<td><a href="#" class="add agregar-persona-a-curso" data-id="' + id + '" data-nombre="' + data[1] + " " + data[2] + '"><i class="cus-plus" title="Agregar"></i>Agregar</a></td>';
                        // Inplace of <i></i> you can use <img src="/your_media_path/img.png">
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var id = parseInt(sData[0]);

                        var enArray = $.inArray(id, alumnos);
                        if (enArray > -1) {
                            var $link = $(nTd).find('a');
                            $link.css('pointer-events', 'none').css('color', 'black');
                        }
                        //$(this).css('pointer-events', 'none').css('color', 'black');
                    }
                }
            ]
        });

        $('.data-table').on('page.dt', function (e, settings) {
            console.log(settings.aoColumns[0].mRender);
        });

    </script>
}