@model ColegioTerciario.DAL.Models.Materia_x_Curso
@{
    ViewBag.Title = "Edit";
}

<h2>Curso @Model.MATERIA_X_CURSO_CURSO_NOMBRE - @Model.MATERIA_X_CURSO_CICLO.CICLO_NOMBRE</h2>
<h3>@Model.MATERIA_X_CURSO_CARRERA.CARRERA_NOMBRE</h3>
<h4>@Model.MATERIA_X_CURSO_MATERIA.MATERIA_NOMBRE</h4>

<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#agregarAlumnosModal">
    Agregar alumnos al curso
</button>

<table class="table alumnos-curso">
    <thead>
        <tr>
            <th>Fechas: </th>
            <td><a href="#" data-name="P1_FECHA" class="date">@String.Format("{0:dd/MM/yyyy}",Model.MATERIA_X_CURSO_P1_FECHA)</a></td>
            <td><a href="#" data-name="R1_FECHA" class="date">@String.Format("{0:dd/MM/yyyy}", Model.MATERIA_X_CURSO_R1_FECHA)</a></td>
            <td><a href="#" data-name="P2_FECHA" class="date">@String.Format("{0:dd/MM/yyyy}", Model.MATERIA_X_CURSO_P2_FECHA)</a></td>
            <td><a href="#" data-name="R2_FECHA" class="date">@String.Format("{0:dd/MM/yyyy}", Model.MATERIA_X_CURSO_R2_FECHA)</a></td>
        </tr>
        <tr>
            <th>Alumno</th>
            <th>P1</th>
            <th>R1</th>
            <th>P2</th>
            <th>R2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ColegioTerciario.DAL.Models.Cursada cursada in ViewBag.alumnos)
        {
            <tr>
                <th>
                    <ul>
                        <li>@cursada.CURSADA_ALUMNO.PERSONA_APELLIDO, @cursada.CURSADA_ALUMNO.PERSONA_NOMBRE</li>
                        <li>@cursada.CURSADA_ALUMNO.PERSONA_DOCUMENTO_NUMERO</li>
                    </ul>
                </th>
                @{ var cursadaId = cursada.ID; }
                <td>
                    
                    <a href="#" class="xEditable" data-type="select" data-pk="@cursadaId" data-name="P1" data-value="0">
                        @(cursada.CURSADA_NOTA_P1 == null ? "Inserte la nota" : cursada.CURSADA_NOTA_P1)
                    </a>         
                </td>
                <td>

                    <a href="#" class="xEditable" data-type="select" data-pk="@cursadaId" data-name="R1" data-value="0">
                        @(cursada.CURSADA_NOTA_R1 == null ? "Inserte la nota" : cursada.CURSADA_NOTA_R1)
                    </a>
                </td>
                <td>

                    <a href="#" class="xEditable" data-type="select" data-pk="@cursadaId" data-name="P2" data-value="0">
                        @(cursada.CURSADA_NOTA_P2 == null ? "Inserte la nota" : cursada.CURSADA_NOTA_P2)
                    </a>
                </td>
                <td>

                    <a href="#" class="xEditable" data-type="select" data-pk="@cursadaId" data-name="R2" data-value="0">
                        @(cursada.CURSADA_NOTA_R2 == null ? "Inserte la nota" : cursada.CURSADA_NOTA_R2)
                    </a>
                </td>

            </tr>
        }
    </tbody>
</table>

@Html.Partial("_AgregaAlumnos", Model, new ViewDataDictionary() {
    {"ForeignKey", "MATERIA_X_CURSO_ID" },
    { "Controlador", "Cursos"}
} )

<!--
<div class="modal fade" id="agregarAlumnosModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Agregar Alumnos</h4>
            </div>
            <div class="modal-body">
                <table class="table data-table table-bordered table-read-status">
                    <thead>
                        <tr>
                            <th style="display: none;">ID</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>DNI</th>
                            <th>Agregar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>

                            <td colspan="6" class="dataTables_empty">
                                Loading data from server

                            </td>

                        </tr>

                    </tbody>

                </table>
                
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("agregarAlumnos", "Cursos", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("MATERIA_X_CURSO_ID", @Model.ID)
                    <ul id="alumnosSeleccionados"></ul>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <input type="submit" class="btn btn-primary" value="Guardar" />
                }
                
            </div>
        </div><!-- /.modal-content --
    </div><!-- /.modal-dialog --
</div><!-- /.modal --

-->



@section scripts {

    <script type="text/javascript">
        var alumnos = [];



        $.extend(true, $.fn.dataTable.defaults, {
            "sDom": "<'row'<'col-xs-6'l><'col-xs-6'f>r>t<'row'<'col-xs-4'i><'col-xs-8'p>>",
        });

        $(document).on('click', '.agregar-persona-a-curso', function () {
            $(this).css('pointer-events', 'none').css('color', 'black');
            alumnos.push($(this).data('id'));
            $('form').append('<input type="hidden" name="alumnos" value="' + $(this).data('id') + '"/>');
        });
        var $dataTable = $('.data-table').dataTable({
            "aaSorting": [[1, "desc"]], // default sort to Name
            "bServerSide": true,
            "sAjaxSource": "/personas/indexJSON",
            "iDisplayLength": 4,
            "aoColumnDefs": [
                {
                    "aTargets": [0],
                    'mData': null,
                    'mRender': function (data, type, full) {
                        return '<td style="display:none;">' + data[0] + '</td>';
                    },
                    'visible': false
                },
                { "aTargets": [1], "name": "Nombre" },
                { "aTargets": [2], "name": "Apellido" },
                { "aTargets": [3], "name": "DNI" },
                {
                    "aTargets": [4],
                    "mData": null,
                    "mRender": function (data, type, full) {
                        var id = data[0];
                        return '<td><a href="#" class="add agregar-persona-a-curso" data-id="' + id + '" data-nombre="' + data[1] + " " + data[2] + '"><i class="cus-plus" title="Agregar"></i>Agregar</a></td>';
                        // Inplace of <i></i> you can use <img src="/your_media_path/img.png">
                    },
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        var id = parseInt(sData[0]);

                        var enArray = $.inArray(id, alumnos);
                        if (enArray > -1) {
                            var $link = $(nTd).find('a');
                            $link.css('pointer-events', 'none').css('color', 'black');
                        }
                        //$(this).css('pointer-events', 'none').css('color', 'black');
                    }
                }
            ]
        });

        $('.data-table').on('page.dt', function (e, settings) {
            console.log(settings.aoColumns[0].mRender);
        });

        $(document).ready(function () {
            /* EDITABLE */
            $('.xEditable').editable({
                url: '/Cursos/ponerNota',
                prepend: [{ value: 0, text: "Seleccione una nota" }],
                source: [
                    { value: 1, text: "1" },
                    { value: 2, text: "2" },
                    { value: 3, text: "3" },
                    { value: 4, text: "4" },
                    { value: 5, text: "5" },
                    { value: 6, text: "6" },
                    { value: 7, text: "7" },
                    { value: 8, text: "8" },
                    { value: 9, text: "9" },
                    { value: 10, text: "10" },
                    { value: "Ausente", text: "Ausente" },
                ]
            });

            $('.date').editable({
                url: '/Cursos/SetearFecha',
                type: 'combodate',
                mode: 'popup',
                pk: @Model.ID,
                viewformat: "DD/MM/YYYY",
                locale: "es",
                language: "es"
            });
        });
    </script>
}