@model ColegioTerciario.DAL.Models.Acta_Examen

@{
    ViewBag.Title = "Nueva Acta de Examen Final";
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Nueva Acta de Examen Final</h2>
            </div>
            <div class="card-body card-padding">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_FECHA, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ACTA_EXAMEN_FECHA, new {htmlAttributes = new {@class = "form-control datepicker"}})
                                @Html.ValidationMessageFor(model => model.ACTA_EXAMEN_FECHA, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_LIBRO, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ACTA_EXAMEN_LIBRO, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ACTA_EXAMEN_LIBRO, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_FOLIO, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ACTA_EXAMEN_FOLIO, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.ACTA_EXAMEN_FOLIO, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_TURNOS_EXAMENES_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("ACTA_EXAMEN_TURNOS_EXAMENES_ID", (SelectList) ViewBag.TURNOS, htmlAttributes: new {@class = "form-control"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_CARRERAS_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.DropDownList("ACTA_EXAMEN_CARRERAS_ID", (SelectList) ViewBag.CARRERAS, "Seleccione una Carrera", htmlAttributes: new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.ACTA_EXAMEN_CARRERAS_ID, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_MATERIAS_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <select id="ACTA_EXAMEN_MATERIAS_ID" name="ACTA_EXAMEN_MATERIAS_ID" class="form-control">
                                    <option val="0">Elija una carrera</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_PRESIDENTE_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <input type="text" id="ACTA_EXAMEN_PRESIDENTE_ID" name="ACTA_EXAMEN_PRESIDENTE_ID" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_VOCAL1_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <input type="text" id="ACTA_EXAMEN_VOCAL1_ID" name="ACTA_EXAMEN_VOCAL1_ID" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.ACTA_EXAMEN_VOCAL2_ID, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                <input type="text" id="ACTA_EXAMEN_VOCAL2_ID" name="ACTA_EXAMEN_VOCAL2_ID" value=""/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-8">
                                <input type="submit" value="Guardar" class="btn btn-default"/>
                            </div>
                            <div class="col-md-2">
                                @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-default" })
                            </div>

                        </div>
                    </div>
                }

            </div>
            
        </div>
    </div>
</div>




@section scripts {
    <script type="text/javascript">
        var pageSize = 5;
        $("#ACTA_EXAMEN_PRESIDENTE_ID, #ACTA_EXAMEN_VOCAL1_ID, #ACTA_EXAMEN_VOCAL2_ID").select2({
            placeholder: "Seleccione un docente",
            minimumInputLength: 3,
            allowClear: true,
            dropdownCssClass: "bigdrop",
            width: "100%",
            ajax: {
                //How long the user has to pause their typing before sending the next request
                quietMillis: 150,
                //The url of the json service
                url: "/Datos/GetPersonas",
                dataType: 'json',
                //Our search term and what page we are on
                data: function (term, page) {
                    return {
                        pageSize: pageSize,
                        pageNum: page,
                        searchTerm: term
                    };
                },
                results: function (data, page) {

                    var more = (page * pageSize) < data.Total; // whether or not there are more results available

                    // notice we return the value of more so Select2 knows if more results can be loaded
                    return { results: data.Results, more: more };
                },
                cache: true
            },
            initSelection: function (element, callback) {
                // the input tag has a value attribute preloaded that points to a preselected repository's id
                // this function resolves that id attribute to an object that select2 can render
                // using its formatResult renderer - that way the repository name is shown preselected
                var id = $(element).val();
                if (id !== "") {
                    $.ajax("/Datos/GetPersona/" + id, {
                        dataType: "json"
                    }).done(function (data) { callback(data); });
                }
            },
        });

        $(document).ready(function() {
            $('#ACTA_EXAMEN_CARRERAS_ID').change(function() {
                var carreraId = $(this).find('option:selected').val();
                $.getJSON("/api/Materias/GetPorCarrera", {
                    carreraId: carreraId
                }, function (data, status) {
                    $('#ACTA_EXAMEN_MATERIAS_ID').find('option').remove();
                    $.each(data, function () {
                        
                        $('#ACTA_EXAMEN_MATERIAS_ID').append($("<option />").val(this.ID).text(this.MATERIA_NOMBRE));
                    });

                });
            });
        });
    </script>
}