@model ColegioTerciario.DAL.Models.Acta_Examen

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_PrintLayout.cshtml";
    int num = 1;
}

<div class="row">
    <div class="col-xs-12">
        <h2>Acta de Examen</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h4>@Model.ACTA_EXAMEN_TURNO_EXAMEN.TURNO_EXAMEN_CICLO.CICLO_NOMBRE</h4>
        <hr />
    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_CARRERAS_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_CARRERA.CARRERA_NOMBRE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_MATERIAS_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_MATERIA.MATERIA_NOMBRE)
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_LIBRO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_LIBRO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_FOLIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_FOLIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_TURNOS_EXAMENES_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_TURNO_EXAMEN.TURNO_EXAMEN_NOMBRE)
            </dd>

            

            
        </dl>
    </div>
    <div class="col-xs-6">
        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_FECHA)
            </dt>

            <dd>
                @String.Format("{0:dd/MM/yyyy}", Model.ACTA_EXAMEN_FECHA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_PRESIDENTE_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_PRESIDENTE.PERSONA_NOMBRE_COMPLETO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_VOCAL1_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_VOCAL1.PERSONA_NOMBRE_COMPLETO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ACTA_EXAMEN_VOCAL2_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ACTA_EXAMEN_VOCAL2.PERSONA_NOMBRE_COMPLETO)
            </dd>
        </dl>
    </div>
</div>

<h4>ALUMNOS</h4>
<table class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>Num</th>
            <th>DNI</th>
            <th>Apellido y Nombre</th>
            <th>Calificacion</th>
        </tr>
    </thead>
    <tbody>
        
        <!--@@foreach (ColegioTerciario.DAL.Models.Persona alumno in ViewBag.alumnos)-->
        @foreach(ColegioTerciario.DAL.Models.Acta_Examen_Detalle detalle in ViewBag.DETALLES)
        {
            <tr>
                <td>@(num++)</td>
                <td>@detalle.ACTA_EXAMEN_DETALLE_ALUMNO.PERSONA_DOCUMENTO_NUMERO</td>
                <td>@detalle.ACTA_EXAMEN_DETALLE_ALUMNO.PERSONA_NOMBRE_COMPLETO</td>
                <td>@detalle.ACTA_EXAMEN_DETALLE_NOTA</td>
            </tr>
        }
        
    </tbody>
</table>
