@model ColegioTerciario.DAL.Models.Persona

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_CIUDAD.CIUDAD_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_CIUDAD.CIUDAD_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PAIS.PAIS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PAIS.PAIS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PROVINCIA.PROVINCIA_NAME_ASCII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PROVINCIA.PROVINCIA_NAME_ASCII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CLAVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CLAVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOCUMENTO_TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOCUMENTO_TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOCUMENTO_NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOCUMENTO_NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOMICILIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOMICILIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FECHA_ALTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FECHA_ALTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FECHA_BAJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FECHA_BAJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_TITULO_SECUNDARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_TITULO_SECUNDARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_OBSERVACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_OBSERVACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FOTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PAIS_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PAIS_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PROVINCIA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PROVINCIA_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_CIUDAD_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_CIUDAD_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CUIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CUIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_ALUMNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_ALUMNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_DOCENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_DOCENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_NODOCENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_NODOCENTE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
