@model ColegioTerciario.DAL.Models.Persona

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.PERSONA_BARRIO.BARRIO_NOMBRE)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_BARRIO.BARRIO_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_BARRIO.BARRIO_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_CIUDAD.CIUDAD_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_CIUDAD.CIUDAD_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PAIS.PAIS_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PAIS.PAIS_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_PROVINCIA.PROVINCIA_NAME_ASCII)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_PROVINCIA.PROVINCIA_NAME_ASCII)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CODIGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CODIGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_USUARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_USUARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CLAVE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CLAVE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NOMBRE_PARA_MOSTRAR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NOMBRE_PARA_MOSTRAR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOCUMENTO_TIPO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOCUMENTO_TIPO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOCUMENTO_NUMERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOCUMENTO_NUMERO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_NACIMIENTO_FECHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_NACIMIENTO_FECHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_DOMICILIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_DOMICILIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_TELEFONO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_TELEFONO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_SEXO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_SEXO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FECHA_ALTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FECHA_ALTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FECHA_BAJA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FECHA_BAJA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_TITULO_SECUNDARIO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_TITULO_SECUNDARIO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_OBSERVACION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_OBSERVACION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_FOTO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_FOTO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_CUIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_CUIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_ALUMNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_ALUMNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_DOCENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_DOCENTE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PERSONA_ES_NODOCENTE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA_ES_NODOCENTE)
        </dd>

    </dl>
</div>

<form class="form-horizontal">
    <fieldset>
        <legend>Detalles</legend>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Apellido</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder=@Html.DisplayFor(model => model.PERSONA_APELLIDO)>
            </div>
        </div>

        <div class="form-group">
            <label for="inputPassword" class="col-lg-2 control-label">Nombre</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder=@Html.DisplayFor(model => model.PERSONA_NOMBRE)>
                ><div class="checkbox">
                    <label>
                        <input type="checkbox"> Checkbox
                    </label>
                </div>
            </div>
        </div>


    </fieldset>
</form>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

