@using ColegioTerciario.Models
@using Glimpse.Mvc.AlternateType
@model ColegioTerciario.DAL.Models.Persona

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">Editar Persona</div>
            </div>
            <div class="portlet-body">
                @if (Model.PERSONA_ES_ALUMNO == true)
                {
                    <div class="tabbable-line">

                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#datos-personales" aria-controls="datos-personales" role="tab" data-toggle="tab">Datos Personales</a></li>
                            <li role="presentation"><a href="#cursadas_x_ciclos" aria-controls="cursadas" role="tab" data-toggle="tab">Cursadas Por Ciclos</a></li>
                            <li role="presentation"><a href="#cursadas_x_materias" aria-controls="cursadas" role="tab" data-toggle="tab">Cursadas Por Materias</a></li>
                            <li role="presentation"><a href="#finales" aria-controls="finales" role="tab" data-toggle="tab">Finales</a></li>
                        </ul>


                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="datos-personales">
                                @Html.Partial("_PersonaForm", Model)
                            </div>
                            <div class="tab-pane" id="cursadas_x_ciclos" role="tabpanel">
                                @foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaPorCiclosViewModel situacion in ViewBag.SITUACIONPORCICLOS)
                                {
                                    <h2>@situacion.Carrera</h2>


                                    foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaCursadasViewModel cursada in situacion.Cursadas)
                                    {

                                        <h3>
                                            @cursada.Ciclo
                                        </h3>
                                        <table class="table table-condensed table-hover table-bordered situacion-academica">
                                            <thead>
                                                <tr>
                                                    <th>Materia</th>
                                                    <th>P1</th>
                                                    <th>Fecha</th>
                                                    <th>R1</th>
                                                    <th>Fecha</th>
                                                    <th>P2</th>
                                                    <th>Fecha</th>
                                                    <th>R2</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaMateriasViewModel materia in cursada.Materias)
                                                {
                                                    <tr>
                                                        <td>@materia.MateriaNombre</td>
                                                        <td><b>@materia.P1</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.P1Fecha)</td>
                                                        <td><b>@materia.R1</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.R1Fecha)</td>
                                                        <td><b>@materia.P2</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.P2Fecha)</td>
                                                        <td><b>@materia.R2</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.R2Fecha)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                }
                            </div>
                            <div class="tab-pane" id="cursadas_x_materias" role="tabpanel">
                                @foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaPorMateriasViewModel situacion in ViewBag.SITUACIONPORMATERIAS)
                                {
                                    <h2>@situacion.Carrera</h2>


                                    foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaPorMateriasMateriasViewModel cursada in situacion.Materias)
                                    {

                                        <h3>
                                            @cursada.Materia
                                        </h3>
                                        <table class="table table-condensed table-hover table-bordered situacion-academica">
                                            <thead>
                                                <tr>
                                                    <th>Materia</th>
                                                    <th>P1</th>
                                                    <th>Fecha</th>
                                                    <th>R1</th>
                                                    <th>Fecha</th>
                                                    <th>P2</th>
                                                    <th>Fecha</th>
                                                    <th>R2</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ColegioTerciario.Models.ViewModels.SituacionAcademicaMateriasViewModel materia in cursada.Cursadas)
                                                {
                                                    <tr>
                                                        <td>@materia.MateriaNombre</td>
                                                        <td><b>@materia.P1</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.P1Fecha)</td>
                                                        <td><b>@materia.R1</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.R1Fecha)</td>
                                                        <td><b>@materia.P2</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.P2Fecha)</td>
                                                        <td><b>@materia.R2</b></td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}", materia.R2Fecha)</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }


                                }
                            </div>
                            <div id="finales" class="tab-pane">
                                @foreach (ColegioTerciario.Models.ViewModels.SituacionFinalesViewModel situacion in ViewBag.FINALES)
                                {
                                    <h2>@situacion.Carrera</h2>

                                    foreach (ColegioTerciario.Models.ViewModels.FinalesViewModel final in situacion.Finales)
                                    {
                                        <h2>@final.Anio</h2>

                                        <table class="table table-condensed table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Acta</th>
                                                    <th>Fecha</th>
                                                    <th>Materia</th>
                                                    <th>Nota</th>
                                                    <th>Estado</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (ColegioTerciario.Models.ViewModels.ExamenesFinalesViewModel examen in final.Examenes)
                                                {
                                                    <tr>
                                                        <td>@Html.ActionLink("Ir a Acta", "Edit", "ActaExamen", new { id = examen.ActaId }, null)</td>
                                                        <td>@String.Format("{0:dd/MM/yyyy}",@examen.Fecha)</td>
                                                        <td>@examen.Materia</td>
                                                        <td>@examen.Nota</td>
                                                        <td>@examen.Estado</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    }

                                }
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    @Html.Partial("_PersonaForm", Model)
                }
                
                    @Html.ActionLink("Volver a la lista", "Index") |
                    @Html.ActionLink("Eliminar", "Delete", new { id = Model.ID })
                
            </div>
        </div>
    </div>
</div>



@section Scripts {

    <script type="text/javascript">
        var pageSize = 20;
        $(document).ready(function () {
            $("#PERSONA_NACIMIENTO_PAIS_ID").select2(
            {
                //placeholder: 'Enter name',
                //Does the user have to enter any data before sending the ajax request
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    //How long the user has to pause their typing before sending the next request
                    quietMillis: 150,
                    //The url of the json service
                    url: "/Datos/GetPaises",
                    dataType: 'jsonp',
                    //Our search term and what page we are on
                    data: function (term, page) {
                        return {
                            pageSize: pageSize,
                            pageNum: page,
                            searchTerm: term
                        };
                    },
                    results: function (data, page) {
                        //Used to determine whether or not there are more results available,
                        //and if requests for more data should be sent in the infinite scrolling
                        var more = (page * pageSize) < data.Total;
                        return { results: data.Results, more: more };
                    }
                },
                initSelection: function (element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/Datos/GetPais/" + id, {
                            dataType: "json"
                        }).done(function (data) { callback(data); });
                    }
                },
            });

            $("#PERSONA_NACIMIENTO_PROVINCIA_ID").select2(
            {
                //placeholder: 'Enter name',
                //Does the user have to enter any data before sending the ajax request
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    //How long the user has to pause their typing before sending the next request
                    quietMillis: 150,
                    //The url of the json service
                    url: "/Datos/GetProvincias",
                    dataType: 'jsonp',
                    //Our search term and what page we are on
                    data: function (term, page) {
                        return {
                            pageSize: pageSize,
                            pageNum: page,
                            searchTerm: term
                        };
                    },
                    results: function (data, page) {
                        //Used to determine whether or not there are more results available,
                        //and if requests for more data should be sent in the infinite scrolling
                        var more = (page * pageSize) < data.Total;
                        return { results: data.Results, more: more };
                    }
                },
                initSelection: function (element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/Datos/GetProvincia/" + id, {
                            dataType: "json"
                        }).done(function (data) { callback(data); });
                    }
                },
            });

            $("#PERSONA_NACIMIENTO_CIUDAD_ID").select2(
            {
                //placeholder: 'Enter name',
                //Does the user have to enter any data before sending the ajax request
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    //How long the user has to pause their typing before sending the next request
                    quietMillis: 150,
                    //The url of the json service
                    url: "/Datos/GetCiudades",
                    dataType: 'jsonp',
                    //Our search term and what page we are on
                    data: function (term, page) {
                        return {
                            pageSize: pageSize,
                            pageNum: page,
                            searchTerm: term
                        };
                    },
                    results: function (data, page) {
                        //Used to determine whether or not there are more results available,
                        //and if requests for more data should be sent in the infinite scrolling
                        var more = (page * pageSize) < data.Total;
                        return { results: data.Results, more: more };
                    }
                },
                initSelection: function (element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/Datos/GetCiudad/" + id, {
                            dataType: "json"
                        }).done(function (data) { callback(data); });
                    }
                },
            });

            $("#PERSONA_NACIMIENTO_BARRIO_ID").select2(
            {
                //placeholder: 'Enter name',
                //Does the user have to enter any data before sending the ajax request
                minimumInputLength: 3,
                allowClear: true,
                ajax: {
                    //How long the user has to pause their typing before sending the next request
                    quietMillis: 150,
                    //The url of the json service
                    url: "/Datos/GetBarrios",
                    dataType: 'jsonp',
                    //Our search term and what page we are on
                    data: function (term, page) {
                        return {
                            pageSize: pageSize,
                            pageNum: page,
                            searchTerm: term
                        };
                    },
                    results: function (data, page) {
                        //Used to determine whether or not there are more results available,
                        //and if requests for more data should be sent in the infinite scrolling
                        var more = (page * pageSize) < data.Total;
                        return { results: data.Results, more: more };
                    }
                },
                initSelection: function (element, callback) {
                    // the input tag has a value attribute preloaded that points to a preselected repository's id
                    // this function resolves that id attribute to an object that select2 can render
                    // using its formatResult renderer - that way the repository name is shown preselected
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax("/Datos/GetBarrio/" + id, {
                            dataType: "json"
                        }).done(function (data) { callback(data); });
                    }
                },
            });
        });
    </script>
}
