@model ColegioTerciario.Models.ViewModels.AnaliticoViewModel

@{
    ViewBag.Title = "Analitico";
    Layout = "../Shared/_PrintLayout.cshtml";
}

@section footer {
    <footer class="row" style="margin-top: 40px;">
        <div class="col-xs-12 text-center">
            <i>"@ViewBag.MEMBRETE"</i>
        </div>
    </footer>
}


<style type="text/css">
    p {
        font-size: 14px;
        text-align: justify;
    }

    body.print {
        margin-top: 0 !important;
        padding-top: 0 !important;        
    }

    th {
        font-weight: bold !important;
    }
</style>

<div class="row" style="margin-bottom:10px">
    <div class="col-xs-6" style="padding-top:1px">
        <h3>CERTIFICADO ANALITICO</h3>
    </div>

    <div class="col-xs-6">
        <img class="pull-right" src="/Content/CENT%20LOGO.png" alt="" height="50" />
    </div>
</div>
<!--
<div class="row">
    <div class="col-xs-12 text-center">
        <h3>CERTIFICADO ANALITICO</h3>
    </div>
</div>
    -->
<div class="row">
    <p style="text-align: justify; font-size: 13px">
        --------EL RECTORADO DEL CENTRO EDUCATIVO DE NIVEL TERCIARIO N° 11 "CIUDAD DE USHUAIA", HACE CONSTAR POR LA PRESENTE
        QUE EL/LA ALUMNO/A <b>@Model.Persona.PERSONA_APELLIDO, @Model.Persona.PERSONA_NOMBRE</b> D.N.I. N° <b>@Model.Persona.PERSONA_DOCUMENTO_NUMERO</b>,
        HA CURSADO Y APROBADO LAS ASIGNATURAS QUE SE DETALLAN, SEGUN CONSTA EN EL LIBRO MATRIZ ....., FOLIO .....,
        CORRESPONDIENTE A LA CARRERA "@Model.Carrera", APROBADA POR RESOLUCION M.E. N° 0357/12 ------------------
    </p>
</div>
<div class="row">
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>ASIGNATURA</th>
                <th>NOTA</th>
                <th>LIBRO</th>
                <th>FOLIO</th>
                <th>FECHA</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var instancia in Model.Analitico)
            {
                <tr>
                    <th colspan="5">Año: @(instancia.Anio)º</th>
                </tr>

                foreach (var examen in instancia.Finales)
                {
                    <tr>
                        <td>
                            @examen.Materia
                        </td>
                        <td>@examen.Nota</td>
                        <td>@examen.Libro</td>
                        <td>@examen.Folio</td>
                        <td>@(examen.Fecha != null ? @examen.Fecha.Value.ToString("dd/MM/yyyy") : null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>